.page_header{
    border: solid black;
    background-color: white;
    text-align: center;
    font-family: "Lucida Console", sans-serif;
}
body{
    background-image: url("images/fall.jpg");
}
.page_content{
    border: solid black;
    background-color: white;
    margin-top: 10px;
    font-family: "Monaco", sans-serif;
}
.links{
    text-align:center;
}
.links li{
    margin:0 40px;
    display:inline;
}
.links li a{
    margin-right: 50px;
}
img{
    height:50px;
    width:50px;
    border-radius: 50%;
}
/**{
    outline: 2px solid red;
}*/