.page_header{
    border: solid black;
    background-color: white;
    text-align: center;
    font-family: "Lucida Console", sans-serif;
}
body{
    background-image: url("images/fall.jpg");
}
.page_content{
    border: solid black;
    background-color: white;
    margin-top: 10px;
    font-family: "Monaco", sans-serif;
}
.links{
    text-align: center;
    font-size: 20px;
}